

/* ALGEMEEN */

/*
* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}*/

html{
    min-height: 100% !important;
    height: 100%;
}

body,html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 100;

}

.margin{
  margin-left: 150px;
  margin-right: 150px;
}

.header-title{
  font-size: 180px;
  line-height: 110%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 600;
padding-left: 50px;
padding-bottom: 100px;
}
.highlight{
  color: #0062ff;
}

h2 {
	font-size: 40px;
	line-height: 110%;
	margin-bottom: 20px;
}
h3 {
	font-size: 24px;
	line-height: 110%;
	margin-top: 6px;
	margin-bottom: 12px;
}




/* BOOTSTRAP
.baloo {font-family: 'Baloo';}
.groen {color:#1baca0}
.rood {color:#ff6d79}
.geel {color:#ffc14d}
.wit {color:#ffffff;}
.zwart {color:#000000;}
.bg_groen {	background-color: #1baca0; }
.bg_rood {	background-color: #ff6d79; }
.bg_geel { background-color: #ffc14d; }
*/

/* BOOTSTRAP */

.wiezijnwe{
  display: flex;
  justify-content: space-around;
}
.text1{
  width: 30%;
}

.text1 p{
  width: 100%;
  font-size: 20px;
  line-height: 120%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 400;
}

.navigatie {
  text-align: left;
  font-size: 20px;
  line-height: 100%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
	padding: 50px;
	border:none;
	box-shadow: none !important;
  font-weight: 600;
  text-decoration: none;
  color: #0062ff;
}

.navigatie:hover {
text-decoration: line-through;
  color: #0062ff;
}

.navigatie1 {
  text-align: left;
  font-size: 20px;
  line-height: 100%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
margin-left: 150px;
	padding: 50px;
	border:none;
	box-shadow: none !important;
  font-weight: 600;
  text-decoration: none;
  color: #0062ff;
}

.navigatie1:hover {
text-decoration: line-through;
  color: #0062ff;
}




/* BOOTSTRAP

.style1-title{
	font-weight: 700;
  font-size: 3rem;
  line-height: 2.5rem;
  color: #0062ff;
}

.style1-title2{
	font-weight: 600;
  font-size: 2.5rem;
      line-height: 2.5rem;
  color: #26c485;
}

.style1-title3{
	font-weight: 500;
  font-size: 30px;
  color: black;
}

p{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.875rem;
  color: black;
  width: 45%;
}
 */




/* DesignSystem */
.h4-title{
  padding-top: 50px;
}







.image2{
  padding-top: 100px;
}

.image3{
  padding-top: 100px;
}

.image2 img{
  display: block;
  margin: auto;
}

.design{
  padding-top: 150px;
  display: flex;
}


.design2{
  display:flex;
  flex-direction: row-reverse;
  width: 140%;
  padding-top: 150px;
}

.image5{
  width: 60%;
  align-items: flex-end;
}


.text2{
  width: 100%;
}


.design3{
  display:flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 150px;
}

.design3 img{
  padding-left: 200px;
}

.text3{
  width: 50%;
  padding-left: 100px;
}
.text3 p{
  font-size: 20px;
  line-height: 120%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 400;
}


.text2 p{
  font-size: 20px;
  line-height: 120%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 400;
}

.image3{
  padding-left: 50px;
  justify-content: space-between;
}

.image4{
  padding-top: 20px;
}


/* LOGO  */

.logo-intro-p{
  width: 45%;
  padding-top: 20px;
}
.logozwart,.logowit,.logoopbouw{
  padding-top: 40px;
}


.logo-onderdeel-wit{
  padding-top: 100px;
}

.logo-onderdeel-opbouw{
  padding-top: 100px;
}


.logo-onderteel-title{
  color: #0062ff;
}




  /*Image slider:*/



* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 150px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-top: 50px;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #0062ff;
  opacity: 0.5;
  border-radius: 70%;
}






.btn-outline-secondary {
	text-transform: uppercase;
	font-weight: 600;
	border-color: black !important;
	color:black;
}
.btn-outline-secondary:hover {
	background-color: black !important;
}


/* HEADER */
header {
	padding-top:30px;
	padding-bottom: 100px;
}

.ballon {
	z-index: 500;
	position: relative;
	position: absolute;
	top:50%;
	left:50%;
	width: 140px;
}
.ballon img {
	width: 100%;
}
.b1 {
	margin-top:10px;
	margin-left:-630px;
}
.b2 {
	margin-top:-220px;
	margin-left:-750px;
}
.b3 {
	margin-top:-290px;
	margin-left:-70px;
}
.b4 {
	margin-top:-200px;
	margin-left:300px;
}
.b5 {

	margin-top:-340px;
	margin-left:580px;
}
.b6 {
	margin-top:-50px;
	margin-left:520px;
}
.b6b {
	width:90px;
	margin-top:-190px;
	margin-left:-430px;
}
.b7 {
	margin-top:120px;
	margin-left:290px;
}
.b8 {
	margin-top:160px;
	margin-left:-100px;
}
.b9 {
	margin-top:70px;
	margin-left:-380px;
}


/* ONDERDELEN */
.onderdeel {
padding-top: 20px;
padding-bottom: 80px;
}
.container-kleuren{
  padding: left;
  width: 80%;
}
.container-kleuren2{
  padding: left;
}
.onderdeel_intro {
	padding-bottom: 40px;
	max-width: 620px;
	margin: auto;
}

.onderdeel .card {
	margin-bottom: 25px;
}



.h2-title{
  padding-bottom: 50px;
}









/* FOOTER */
footer {padding:60px;}





@media only screen and (min-width: 2000px) {
  /* For desktop: */
  .margin{
    max-width: 1500px;
    margin: auto;

  }
}
