

/* ALGEMEEN */

/*
* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}*/

html{
    min-height: 100% !important;
    height: 100%;
}

body,html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 100;

}

.header-title{
  font-size: 180px;
  line-height: 110%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 600;
}
.highlight{
  color: #0062ff;
}

h2 {
	font-size: 40px;
	line-height: 110%;
	margin-bottom: 20px;
}
h3 {
	font-size: 24px;
	line-height: 110%;
	margin-top: 6px;
	margin-bottom: 12px;
}



/* BOOTSTRAP
.baloo {font-family: 'Baloo';}
.groen {color:#1baca0}
.rood {color:#ff6d79}
.geel {color:#ffc14d}
.wit {color:#ffffff;}
.zwart {color:#000000;}
.bg_groen {	background-color: #1baca0; }
.bg_rood {	background-color: #ff6d79; }
.bg_geel { background-color: #ffc14d; }
*/

/* BOOTSTRAP */

.wiezijnwe{
  display: flex;
  justify-content: space-around;
}
.text1{
  width: 30%;
}

.text1 p{
  width: 100%;
  font-size: 20px;
  line-height: 120%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 400;
}

.btn-primary {
  font-size: 20px;
  line-height: 100%;
  font-family: sofia-pro, sans-serif;
font-style: normal;
font-weight: 500;
	padding-left: 15px;
	padding-right: 15px;
	margin: 2px;
	border:none;
	box-shadow: none !important;
  font-weight: 600;
  text-decoration: none;
  color: #0062ff;
}

.btn-primary.nav:hover {
	background-color: #0062ff !important;
  color: white;
}



.logoreveal{
  margin: auto;
  height: 100%;
  width: 750px;
}

.logoreveal img{
  margin: auto;
  display: block;
}



.btn-outline-secondary {
	text-transform: uppercase;
	font-weight: 600;
	border-color: black !important;
	color:black;
}
.btn-outline-secondary:hover {
	background-color: black !important;
}


/* HEADER */
header {
	padding-top:30px;
	padding-bottom: 100px;
	position: relative;
}

.header_boven {
	z-index: 1000;
	position: relative;
}
.ballon {
	z-index: 500;
	position: relative;
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	width: 140px;
}
.ballon img {
	width: 100%;
}
.b1 {
	margin-top:10px;
	margin-left:-630px;
}
.b2 {
	margin-top:-220px;
	margin-left:-750px;
}
.b3 {
	margin-top:-290px;
	margin-left:-70px;
}
.b4 {
	margin-top:-200px;
	margin-left:300px;
}
.b5 {

	margin-top:-340px;
	margin-left:580px;
}
.b6 {
	margin-top:-50px;
	margin-left:520px;
}
.b6b {
	width:90px;
	margin-top:-190px;
	margin-left:-430px;
}
.b7 {
	margin-top:120px;
	margin-left:290px;
}
.b8 {
	margin-top:160px;
	margin-left:-100px;
}
.b9 {
	margin-top:70px;
	margin-left:-380px;
}


/* ONDERDELEN */
.onderdeel {
	padding:60px;
	z-index: 1500;
	position: relative;
}

.onderdeel_intro {
	padding-bottom:40px;
	max-width: 620px;
	margin: auto;
}

.onderdeel .card {
	margin-bottom: 25px;
}


/* FOOTER */
footer {padding:60px;}
